<h1>Users</h1>

<% @profiles.each do |profile| %>
  <div class="profile">
    <%= render "avatar_small", user: profile %>
    <%= link_to profile.username, profile_path(profile.username) %>
  </div>
  <% if @friendables[profile.id] %>
    <%= link_to "Send friend request",
    friendships_path(id: current_user, receiver: profile),
    data: {
      turbo_method: :post
    } %>
  <% end %>
<% end %>