<div class="interaction-count">
  <p><%= commentable.comments.length %></p>
  <%= link_to image_tag("icons/comment-processing-outline.svg", alt: "Comment", class: "small-icon"),
      commentable %>
</div>
