<h2>Timeline</h2>

<%= turbo_frame_tag id="new_post", src: new_post_path %>

<ul class="post-list" id="posts">
  <% if @posts.any? %>
    <% @posts.reverse_each do |post|%>
      <li>
        <%= render "post_preview", post: post %>
      </li>
    <% end %>
  <% else %>
    <li>Nothing to see here... yet!</li>
  <% end %>
</ul>
