<h2>Timeline</h2>

<%= link_to "Create a post", new_post_path %>

<% if @posts.any? %>
  <ul>
    <% @posts.each do |post|%>
      <li>
        <%= render "post_preview", post: post %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Nothing to see here... yet!</p>
<% end %>