img.small-circle-icon,
img.small-icon {
  height: var(--small-icon-dimensions);
  width: var(--small-icon-dimensions);
}

img.small-circle-icon,
img.circle-icon {
  border-radius: 50%;
}

img.circle-icon {
  object-fit: cover;
  height: var(--medium-icon-dimensions);
  width: var(--medium-icon-dimensions);
}